.root {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    touch-action: none; /* This is wanted for a pannable canvas, but do we want it on all of them? */
}