.progress {
	display: flex;
	align-items: stretch;
    justify-content: space-between;
    min-height: 1em;
    gap: 0.333em;
}

.vertical {
    flex-direction: column-reverse;
    min-width: 1em;
    
    .block {
        flex-direction: column;
    }
}

.block {
    flex: 1;
	border-radius: 0.25em;
    corner-shape: squircle;
	background: var(--energy-dark);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.blockOutline {
    border: solid var(--energy-mid) 0.1em;
}

.blockActive {
	background: var(--energy-light);
    border-color: var(--energy-light);
}

.decayProgress {
    color: var(--danger-mid)
}