.item {
    outline: 0;
    border: 0.1em solid var(--color-dark);
    corner-shape: squircle;
    border-radius: 1em;
    color: var(--color-lightest);
    user-select: none;
    background-color: var(--color-darkest);

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-darkest);
            color: var(--grey-lightest);
        }
    }

    &:active, &[data-popup-open] {
        outline: 1px solid var(--color-light);
        background-color: var(--color-darkest);
        z-index: 1;
    }

    &:focus-visible {
        outline: 2px solid var(--color-light);
        outline-offset: -1px;
    }
}

.popup {
    corner-shape: squircle;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    background-color: var(--primary-darkest);
    transition:
        transform 150ms,
        opacity 150ms;

    &[data-starting-style],
    &[data-ending-style] {
        opacity: 0;
        transform: scale(0.9);
    }

    outline: 0.1em solid var(--primary-mid);
    outline-offset: -0.1em;
    max-width: 80vw;
}

.arrow {
    width: 1em;
    height: 9px;
    top: -8px;
    background-color: var(--primary-darkest);
    border: solid var(--primary-mid) 0.1em;
    border-bottom: none;
    corner-shape: bevel;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.name {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--grey-lightest);
}

.description {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--grey-mid);
}

.popup svg {
    width: 1em;
    height: 1em;
    display: inline;
    vertical-align: middle;
    color: var(--grey-lightest);
}

.backdrop {
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}