.statusIndicator {
    letter-spacing: 0.2em;
    font-weight: bold;
    padding-left: -0.2em;
    text-transform: uppercase;
    overflow: hidden;
    writing-mode: sideways-lr;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charging {
    align-items: stretch;
    padding: 0.12em 0.1em;
    gap: 0.1em;
}

.chargeSegment {
    flex-grow: 1;
    &:first-child {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        corner-bottom-left-shape: squircle;
        corner-bottom-right-shape: squircle;
    }
    &:last-child {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        corner-top-left-shape: squircle;
        corner-top-right-shape: squircle;
    }
}

.emptySegment {
    background-color: color-mix(in oklch, var(--energy-dark) 85%, var(--energy-darkest));
}

.filledSegment {
    background-color: var(--energy-light);
}
