.statusIndicator {
    letter-spacing: 0.2em;
    font-weight: bold;
    padding-left: -0.2em;
    text-transform: uppercase;
    overflow: hidden;
    writing-mode: sideways-lr;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charging, .needsCharge {
    background-color: oklch(0.25 0.05 240);
    border-color: oklch(0.7 0.4 240);
    color: oklch(0.9 0.15 240);

    &:hover, &:active {
        color: var(--highlight-color);
        background-color: oklch(0.25 0.05 240);
        border-color: oklch(0.7 0.4 240);
    }

    &[data-popup-open] {
        background-color: oklch(0.25 0.05 240);
        border-color: oklch(0.7 0.4 240);
    }
}

.charging {
    align-items: stretch;
    padding: 0.12em 0.1em;
    gap: 0.1em;
}

.chargeSegment {
    flex-grow: 1;
}

.filledSegment {
    background-color: oklch(0.7 0.4 240);

    &:first-child {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        corner-bottom-left-shape: squircle;
        corner-bottom-right-shape: squircle;
    }
}

.notReady {
    color: var(--text-color);
    background-color: var(--danger-background);
    border-color: var(--danger-color);

    &:hover, &:active {
        color: var(--highlight-color);
        background-color: var(--danger-background);
        border-color: var(--danger-color);
    }

    &[data-popup-open] {
        color: var(--highlight-color);
        background-color: var(--danger-color);
        border-color: var(--danger-background);
    }
}

.ready {
    color: oklch(0.85 0.25 140);
    border-color: oklch(0.85 0.25 140);
    background-color:  oklch(0.3 0.2 140);

    &:hover, &:active {
        color: var(--highlight-color);
        border-color: oklch(0.85 0.25 140);
        background-color:  oklch(0.3 0.2 140);
    }

    &[data-popup-open] {
        color: var(--background-color);
        background-color: oklch(0.85 0.25 140);
        border-color: oklch(0.85 0.25 140);
    }
}