.target {
    aspect-ratio: 1 / 1;
    height: min(calc(100vw - var(--scroll-padding) * 2), calc(50dvh - 4em));
    background-color: var(--primary-darkest-muted);
    border: solid var(--color-mid) 0.1em;
    border-radius: 3em;
    corner-shape: squircle;
    padding: 0.5em 1em;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 3.5em;
    grid-template-rows: 1.5em 1fr 4em;

    grid-template-areas:
        "name count"
        "image image"
        "vulnerabilities vulnerabilities";
}

.name {
    font-size: 1.25em;
    grid-area: name;
    color: var(--grey-light);
}

.count {
    grid-area: count;
    justify-self: end;
}

.image {
    grid-area: image;
    object-fit: contain;
    color: var(--color-lightest);
    justify-self: center;
     /* Allow smooth transitions between the default (overflowing) size and the reduced size.
         Use max-height because height:auto is not animatable; give a bit of extra so the
         default state visually appears to overflow the allocated area. */
     max-height: calc(100% + 4em);
     transition: max-height 250ms ease-in-out;
     will-change: max-height;
}

.hasVulnerabilities .image {
     max-height: 100%;
}

.imageWithSelectedVulnerability {
    color: var(--color-mid);
}

.vulnerabilities {
    grid-area: vulnerabilities;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}