.dropTarget {
    corner-shape: squircle;
    border-radius: 1em;
    transition: transform 300ms ease-in-out;
}

.hiddenDropTarget {
    transform: scaleY(0.001);
}

.vulnerability {
    padding: 0.25em;
    width: 4em;
    height: 4em;
    border-width: 0.2em;
}

.otherIsSelected {
    opacity: 0.6;
}

.buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}