.weaponSlot {
    background-color: var(--color-mid);
    padding: 0.125em;
    border-radius: 0.75em;
    corner-shape: squircle;
    border: solid 0.1em var(--color-mid);
    display: grid;
    grid-template-columns: auto 2.5em;
    grid-template-areas:
        "card content";
    justify-content: space-evenly;
    gap: 0.25em;

    transition: transform 0.333s ease;
}

.cardWrapper {
    grid-area: card;
    font-size: 0.667em;
    position: relative;
    corner-shape: squircle;
    border-radius: 1.5em;
}

.card {
    transition: transform 0.33s ease-in-out;
    transform-origin: top left;
}

.cardExpanded:focus {
    transform: translate(var(--translate-x, 0px), var(--translate-y, 0px)) scale(1.5);
    z-index: 10;
}

.cardSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--color-mid) 0.1em;
}

.noCardLabel {
    font-size: 2em;
    color: var(--grey-mid);
    transition: color 0.2s ease-in-out;
    text-align: center;
}

.noCardLabelFocused {
    color: var(--grey-light);
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0.125em;
    background-color: var(--color-darkest);
    corner-shape: squircle;
    border-radius: 1em;
}

.statusIndicator {
    flex-basis: 0;
    flex-grow: 1;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0.33em;
    color: var(--color-darkest);
    background-color: var(--color-light);
    writing-mode: sideways-lr;
    transition: background-color 0.333s ease, color 0.333s ease;
}

.statusDisabled {
    color: var(--color-light);
    background-color: var(--color-darkest);
    border-color: var(--color-darkest);
}

.progress {
    flex-basis: 0;
    flex-grow: 1;
    justify-self: stretch;
    padding: 0 0.125em 0.125em 0.125em;
}

.dischargeProgress {
    grid-area: discardButton;
    position: relative;
    border-radius: 1em;
    display: grid;
    place-items: center;
}

.dischargeLabel {
    position: relative;
    z-index: 1;
}