.weaponSlot {
    background-color: var(--color-mid);
    padding: 0.125em;
    border-radius: 0.75em;
    corner-shape: squircle;
    border: solid 0.1em var(--color-mid);
    display: grid;
    grid-template-columns: auto 1.5em;
    grid-template-rows: auto 2.5em;
    grid-template-areas:
        "card progress"
        "status progress";
    justify-content: space-evenly;
    gap: 0.25em;

    transition: transform 0.333s ease;
}

.cardWrapper {
    grid-area: card;
    font-size: 0.667em;
    position: relative;
    corner-shape: squircle;
    border-radius: 1.5em;
}

.card {
    transition: transform 0.33s ease-in-out;
    transform-origin: top left;
}

/* TOOD: cards should have a built in way of highlighting themselves */
.chargedCard > * {
    border-color: var(--color-light);
}

.actualCard:focus {
    transform: scale(1.5);
    z-index: 10;
}

.cardSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--color-mid) 0.1em;
    background-color: var(--primary-darkest);
}

.noCardLabel {
    font-size: 2em;
    color: var(--grey-mid);
    transition: color 0.2s ease-in-out;
    text-align: center;
}

.noCardLabelFocused {
    color: var(--grey-light);
}

.statusIndicator {
    grid-area: status;
    flex-basis: 0;
    flex-grow: 1;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0.33em;
    color: var(--color-darkest);
    background-color: var(--color-light);
    transition: background-color 0.333s ease, color 0.333s ease;
}

.statusDisabled {
    color: var(--color-light);
    background-color: var(--color-darkest);
    border-color: var(--color-darkest);
}

.progress {
    grid-area: progress;
    flex-basis: 0;
    flex-grow: 1;
    justify-self: stretch;
    padding: 0.125em;
    background-color: var(--color-darkest);
    corner-shape: squircle;
    border-radius: 1em;

    > :first-child {
        corner-bottom-left-shape: squircle;
        corner-bottom-right-shape: squircle;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }

    > :last-child {
        corner-top-left-shape: squircle;
        corner-top-right-shape: squircle;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
}
