@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.choiceRoot {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    animation: fadeIn 0.5s ease-in-out;
    transition: opacity 0.33s ease-in-out;
}

.choiceRootActive {
    .card:not(:focus), .cancelButton, .title {
        opacity: 0.01;
    }

    .cancelButton {
        pointer-events: none;
    }
}

.cards {
    position: relative;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 100vw;
    height: 15em;

    --midIndex: calc((var(--numCards) - 1) / 2);
}

.card {
    position: absolute;
    bottom: 0;
    transition: transform 0.33s ease-in-out, opacity 0.33s ease-in-out;
    transform: translateX(var(--dx)) rotate(var(--r)) translateY(var(--dy)) scale(var(--scale));
    --midOffset: calc(var(--index) - var(--midIndex));
    --absMidOffset: sqrt((var(--midOffset)) * (var(--midOffset)));
    --inHandDx: calc(min(8.5em, ((94vw - 8em) / (var(--numCards) - 1))) * (var(--index) - var(--midIndex)));
    --dx: var(--inHandDx);
    --dy: 0;
    --r: 0deg;
    --scale: 0.75;
}

.card:focus {
    --scale: 1;
    z-index: 1;
}
