.card {
    pointer-events: all;
    touch-action: none;

    &:focus {
        outline: none;
    }
}

.dragging {
    --dy: -15em !important;
    --scale: 0.5 !important;
    opacity: 0 !important;
    transition: transform 0s, opacity 0.2s ease-in-out !important;
    z-index: 50;
}

.followCursor {
    --dy: 0em !important;
    --scale: 1 !important;
    --r: 0deg !important;
    opacity: 1 !important;
    z-index: 100;
}

.dragging.card--location {
    opacity: 0 !important;
}

.canDrop {
    filter: drop-shadow(0 0 8px rgba(0, 255, 0, 1));
}
