.card {
    pointer-events: all;
    touch-action: none;

    &:focus {
        outline: none;
    }
}

.dragging {
    opacity: 0.5 !important;
    transition: opacity 0.33s ease-in-out;
    z-index: 50;
    font-size: 1rem;
    position: absolute;
}

.dragging.card--location {
    /*
    I'd be lying if I said I knew why this helped, but this means that
    the cell underneath the pointer is the one that's dropped onto.
    
    Without this, there's an offset.
    */
    width: 1px;
    height: 1px;
}

.canDrop {
    filter: drop-shadow(0 0 8px rgba(0, 255, 0, 1));
}
