.slotRoot {
    line-height: 1em;
    flex-grow: 1;
    position: relative;
    border-radius: 1.5em;
    corner-shape: squircle;
    border: solid 0.1em var(--primary-darkest);
    background-color: var(--primary-darkest);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    
    &.slotNotEmpty {
        border-color: var(--primary-mid);
    }
}

.slotLabel {
    color: var(--grey-light);
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.slotCard {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.slotEffect {
    font-size: 1.25em;
    color: var(--grey-lightest);
    font-weight: bold;
}

.slotCardName {
    font-size: 0.875em;
    color: var(--grey-light);
}

.slotEmptyText {
    color: var(--grey-mid);
    font-size: 1em;
    padding: 0.25em 0;
}
