.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 0.25em;
}

.notScanning {
    flex: 1;
    font-size: 0.6em;
    color: var(--grey-mid);
    line-height: 1.2em;
    display: flex;
    align-items: center;
    text-align: center;
}

.scanTargetList {
    color: var(--grey-light);
    height: 2em;
    font-size: 0.7em;
}

.systemName {
    color: var(--grey-lightest);
}
