.root {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    flex-grow: 1;
    padding: 0.25em;
}


.weaponSlot {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.125em 0.25em 0.25em 0.25em;
    margin: 0;
    gap: 0.25em;
}

.emptySlot {
    font-size: 0.7em;
    justify-content: center;
}

.cardName {
    font-size: 0.8em;
    line-height: 1.125em;
    color: var(--grey-light);
    text-align: left;
}

.charge.charge {
    min-height: 0.75em;
    gap: 0.25em;
}