.root {
    background-color: var(--primary-dark);
    display: grid;
    padding: 0.5em 1em;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content 1fr;
    border-radius: inherit;
    corner-shape: inherit;

    align-items: center;
    min-height: 0;
    grid-template-areas:
        "targetName close"
        "systemName close"
        "content content";
}

.targetName {
    grid-area: targetName;
    font-size: 0.75em;
    font-weight: bold;
    color: var(--grey-mid);
}

.systemName {
    grid-area: systemName;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0.25em;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--grey-light);
}

.closeButton {
    grid-area: close;
    padding: 0.333em 0.25em !important;
    position: relative;
    right: -0.25em;
    align-self: start;
}

.content {
    grid-area: content;
    align-self: stretch;
    min-height: 0;
    font-size: 2em;
}