.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 0.25em;
    padding: 0.25em;
}


.weaponSlot {
    gap: 0.25em;
}

.charge.charge {
    min-height: 0.75em;
    gap: 0.25em;
}