.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 0.25em;
    padding: 0.25em;
}

.notScanning {
    flex: 1;
    font-size: 0.6em;
    color: var(--grey-mid);
    line-height: 1.2em;
    display: flex;
    align-items: center;
    text-align: center;
}

.scanTargetList {
    font-size: 0.54em;
    line-height: 1.3em;
    color: var(--grey-light);
}

.scanTargetList_num2 {
    line-height: 1.1em;
}

.scanTargetList_num3, .scanTargetList_num4 {
    font-size: 0.46em;
    line-height: 1.1em;
}

.systemName {
    color: var(--grey-lightest);
}
