.root {
    font-size: 4.5vw; /* Scale these so that 4 can fit horizontally on the screen, with gaps. */
    width: 5em;
    height: 8em;
    padding: 0.5em;
    corner-shape: squircle;
    border-radius: 0.5em;
    background-color: var(--primary-dark);
    overflow: hidden;
    border: solid 1px var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.revealed {
    border-color: var(--primary-light);
    justify-content: flex-start;
}

.systemName {
    color: var(--grey-light);
    text-transform: capitalize;
}

.revealed .systemName {
    font-size: 0.85em;
}