.rootOuter {
    aspect-ratio: 1 / 1;
    height: min(calc(100vw - var(--scroll-padding) * 2), calc(40dvh - 4em));
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;
    justify-items: stretch;
}

.rootInner {
    font-size: 7cqw; /* Ensure that font-size of everything within the container is relative to the container width, so it all scales consistently as the container does. */
    background-color: var(--primary-darkest-muted);
    border: solid var(--color-mid) 0.1em;
    border-radius: 3em;
    corner-shape: squircle;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;
    justify-items: stretch;
}

.notRevealedContent {
    display: grid;
    margin: 0.5em 1em;
    grid-template-columns: 1fr 3.5em;
    grid-template-rows: 1.5em 1fr;
    border-radius: inherit;
    corner-shape: inherit;

    align-items: center;
    grid-template-areas:
        "name count"
        "image image";
}

.name {
    font-size: 1.25em;
    grid-area: name;
    color: var(--grey-light);
}

.count {
    grid-area: count;
    justify-self: end;
}

.image {
    grid-area: image;
    object-fit: contain;
    color: var(--color-lightest);
    justify-self: center;
}

.dropTargetOverlay {
    position: absolute;
    inset: 0;
    bottom: 0;
    border-radius: inherit;
    /* Outline is shown on the outer .target via :has() below */
    outline: none !important;
}

.target:has(.dropping) {
    outline: solid var(--grey-lightest) 0.25em;
}

.target:has(.couldDrop) {
    outline: solid var(--primary-mid) 0.25em;
}

.systemSelector {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    corner-shape: inherit;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.25em;
    justify-content: stretch;
    align-items: stretch;
}

.selectableSystem {
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--grey-light);
    background-color: var(--primary-darkest-muted);    
    corner-shape: squircle;

    &:nth-child(1) {
        border-top-left-radius: 3em;
    }

    &:nth-child(2) {
        border-top-right-radius: 3em;
    }

    &:nth-child(3) {
        border-bottom-left-radius: 3em;
    }

    &:nth-child(4) {
        border-bottom-right-radius: 3em;
    }
}

.selectableSystemCouldDrop {
    display: flex;
}

.selectableSystemDropping {
    display: flex;
    z-index: 1;

    .systemName {
        color: var(--primary-lightest);
    }
}

.unknownSystem {
    color: var(--grey-mid);
    font-size: 4em;
}

.systemName {
    color: var(--grey-light);
    text-transform: capitalize;
    font-size: 1.5em;
}
