.cell {
    width: var(--cellWidth);
    height: var(--cellHeight);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}