.hand {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    min-height: 17.5em;
    position: relative;
}

.cardWrapper {
    position: absolute;
    bottom: 0;
    transition: transform 0.33s ease-in-out;
    --extraY: 0;
    --scale: 0.75;
}

.cardWrapper:focus {
    outline: none;
    --r: 0deg !important;
    --extraY: -15.25em !important;
    --scale: 1;
}