.hand {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    flex-grow: 1;
    pointer-events: none;

    --midIndex: calc((var(--numCards) - 1) / 2);
}

.card {
    position: absolute;
    bottom: 0;
    transition: transform 0.33s ease-in-out, opacity 0.33s ease-in-out;
    transform: translateX(var(--dx)) rotate(var(--r)) translateY(var(--dy)) scale(var(--scale));
    z-index: var(--index);
    --midOffset: calc(var(--index) - var(--midIndex));
    --absMidOffset: sqrt((var(--midOffset)) * (var(--midOffset)));
    --inHandDx: calc(min(8.5em, ((94vw - 8em) / (var(--numCards) - 1))) * (var(--index) - var(--midIndex)));
    --dx: var(--inHandDx);
    --dy: calc(var(--absMidOffset) * var(--absMidOffset) * 0.2em + 3em);
    --r: calc((var(--index) - (var(--numCards) - 1) / 2) * 5deg);
    --scale: 0.75;
}

.card:focus {
    --dx: clamp(calc(-50vw + 6.5em), var(--inHandDx), calc(50vw - 6em));
    --dy: -12em;
    --r: 0deg;
    --scale: 1;
}

.adding {
    transform: translateX(calc(50vw + 7em)) scale(var(--scale));
}

.removing {
    --dy: -50vh;
    --r: 0deg;
    --scale: 0.1;
    opacity: 0;
}
