.hand {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    min-height: 17.5em;
    position: relative;
    overflow: hidden;

    --midIndex: calc((var(--numCards) - 1) / 2);
}

.cardWrapper {
    position: absolute;
    bottom: 0;
    transition: transform 0.33s ease-in-out, opacity 0.33s ease-in-out;
    transform: translateX(var(--dx)) rotate(var(--r)) translateY(var(--dy)) scale(var(--scale));
    z-index: var(--index);
    --midOffset: calc(var(--index) - var(--midIndex));
    --absMidOffset: sqrt((var(--midOffset)) * (var(--midOffset)));
    --dx: calc(min(7em, ((94vw - 8em) / (var(--numCards) - 1))) * (var(--index) - var(--midIndex)));
    --dy: calc(var(--absMidOffset) * 0.8em);
    --r: calc((var(--index) - (var(--numCards) - 1) / 2) * 5deg);
    --scale: 0.75;
}

.cardWrapper:focus {
    outline: none;
    --dy: calc(var(--absMidOffset) * 0.8em - 15.25em);
    --r: 0deg;
    --scale: 1;
}

.adding {
    transform: translateX(calc(50vw + 7em)) scale(var(--scale));
}

.removing {
    --dy: -50vh;
    --r: 0deg;
    --scale: 0.1;
    opacity: 0;
}