.card {
    pointer-events: all;
    touch-action: none;

    &:focus {
        outline: none;
    }
}

.dragging {
    opacity: 0.5;
    transition: opacity 0.33s ease-in-out;
    z-index: 50;
}

.canDrop {
    filter: drop-shadow(0 0 8px rgba(0, 255, 0, 1));
}
