.title {
    font-size: 3em;
}

.menuList {
    font-size: 2em;
}       

.menuItem {
    display: flex;
    align-items: center;
}

.menuButton {
    margin: 0.25em 0.5em;
    padding: 0.25em;
}

.menuButton:hover, .menuButton:active {
    color: var(--highlight-color);
}

.joiningForm {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.addressInput {
    width: 8em;
}

.portInput {
    width: 4em;
}