.root {
    min-width: 500px;
}

.timeScaleControl {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.timeScaleControl input[type="range"] {
    flex: 1;
}

.actionHeader {
  margin-top: 1em;
}

.tabContent {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    overflow-y: auto;
}