.card {
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7.5em 2em 1fr;
  gap: 0.25em;
}

.disabled {
  border: solid var(--grey-dark) 0.2em !important;
}

.image {
  background-color: var(--grey-darkest);
  overflow: hidden;
  border: solid var(--grey-darkest) 0.1em;
  outline: solid var(--grey-mid) 0.1em;
  flex-shrink: 0;
  corner-shape: bevel;
}

.cutouts {
  corner-top-left-shape: scoop;
  corner-top-right-shape: superellipse(-2);
  border-radius: 1.6em 1.6em 0.25em 0.25em;
}

.noCutouts {
  corner-top-left-shape: squircle;
  corner-top-right-shape: squircle;
  border-radius: 1em 1em 0.25em 0.25em;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 0.2s ease-in-out;
  flex-shrink: 0;
  line-height: 1em;
}

.card:not(.disabled, .insufficientPower):hover {
  border-color: var(--grey-lightest);
  .name {
    color: var(--grey-lightest);
  }
}

.description {
  font-size: 0.825em;
  display: flex;
  flex-direction: column;
}

.cost {
  position: absolute;
  top: -0.3em;
  left: -0.31em;
  font-size: 2.75em;
  font-weight: bold;
  color: var(--grey-lightest);
  background-color: var(--primary-mid);
  border-radius: 1em;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--primary-lightest) 0.05em;
  font-family: monospace;
  transition: transform 0.333s ease;
}

.targetType {
  position: absolute;
  top: 0.2em;
  right: 0.3em;
  width: 1.6em;
  height: 1.6em;
}

.insufficientPower .cost {
  color: var(--danger-light);
}

.traits {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  font-size: 0.75em;
  margin-bottom: 0.25em;
}