.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-dark);
  background-image:
    repeating-linear-gradient(135deg, var(--primary-mid) 0 5px, transparent 5px 10px),
    repeating-linear-gradient(225deg, var(--primary-mid) 0 5px, transparent 5px 10px);
  background-size: 10px 10px;
  color: var(--grey-lightest);
}

.topSpacer {
  height: 1.25em;
}

.crew {
  height: 7.5em;
  width: 7.5em;
  flex-grow: 1;
}

.name {
  height: 1.5em;
  text-transform: capitalize;
  background-color: var(--primary-mid);
  line-height: 1.25em;
}

/* Adjust padding so background pattern is obscured to fit text width */
.helm .name {
  padding: 0 0.4em;
}

.tactical .name {
  padding: 0 0.3em;
}

.sensors .name {
  padding: 0 0.15em;
}

.engineer .name {
  padding: 0 0.6em;
}