.spaceMapContainer {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.spaceMap {
    flex-grow: 1;
}

.dropCellsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.zoomIn, .zoomOut {
    position: absolute;
    right: 1em;
    padding: 1em;
    min-width: 3em;
    box-sizing: border-box;
}

.zoomIn {
    bottom: 33em;
}

.zoomOut {
    bottom: 29em;
}

.activeManeuver {
    position: absolute;
    bottom: 25em;
    right: 1em;
    padding: 1em;
    min-width: 3em;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform: scale(1);
    opacity: 1;
}

.activeManeuverEntering, .activeManeuverExiting {
    transform: scale(0);
    opacity: 0;
}

.activeManeuverProgress {
    corner-shape: squircle;
    border-radius: 1em;
    &::before {
        background-color: var(--color-mid);
    }
}

.activeManeuverIcon {
    position: absolute;
    top: 0;
    bottom: 0.25em;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}