.spaceMapContainer {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.spaceMap {
    flex-grow: 1;
}

.dropCellsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.zoomIn {
    position: absolute;
    bottom: 33em;
    right: 1em;
    padding: 1em;
}

.zoomOut {
    position: absolute;
    bottom: 29em;
    right: 1em;
    padding: 1em;
}
