.arrow {
    width: 1em;
    height: 9px;
    top: -8px;
    background-color: var(--grey-darkest);
    border: solid var(--grey-mid) 1px;
    border-bottom: none;
    corner-shape: bevel;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.backdrop {
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup {
    box-sizing: border-box;
    padding-block: 0.25rem;
    border-radius: 0.375rem;
    background-color: var(--grey-darkest);
    color: var(--grey-mid);
    transition:
        transform 150ms,
        opacity 150ms;

    &[data-starting-style],
    &[data-ending-style] {
        opacity: 0;
        transform: scale(0.9);
    }

    outline: 1px solid var(--grey-mid);
    outline-offset: -1px;
}

.item {
    outline: 0;
    cursor: default;
    user-select: none;
    padding-block: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    font-size: 0.875rem;
    line-height: 1rem;
}

.item[data-lightested] {
    color: var(--grey-lightest);
}

.fullscreenItem {
    position: relative;
}

.fullscreenItem::after {
    content: '☑️';
    position: absolute;
    right: 0.667em;
}

:fullscreen .fullscreenItem::after,
:-webkit-full-screen .fullscreenItem::after {
    content: '✅'
}

.separator {
  margin: 0.375rem 1rem;
  height: 1px;
  background-color: var(--grey-mid);
}