.indicatorRoot {
    display: flex;
    align-items: center;
    gap: 0.4em;
    position: relative;
}

.separator {
    z-index: 1;
}

.indicator {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.indicatorText {
    color: var(--text-color);
}

.currentValue, .maxValue {
    font-weight: bold;
    color: var(--highlight-color);
}

.icon {
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    color: var(--primary-color);
}

.progress {
    z-index: 0;
}

.separator {
    width: 1px;
    background-color: var(--primary-color);
    height: 1.5em;
    opacity: 0.5;
    transform: rotate(10deg);
}