.indicatorRoot {
    display: flex;
    align-items: center;
    gap: 0.4em;
    position: relative;
}

.separator {
    z-index: 1;
}

.indicator {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.currentValue, .maxValue {
    font-weight: bold;
    color: var(--grey-lightest);
}

.icon {
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    color: var(--color-light);
}

.progress {
    z-index: 0;
    color: var(--color-lightest);
}

.separator {
    width: 1px;
    background-color: var(--color-mid);
    height: 1.5em;
    opacity: 0.5;
    transform: rotate(10deg);
}