.indicatorRoot {
    display: flex;
    align-items: center;
    gap: 0.4em;
    position: relative;
}

.separator {
    z-index: 1;
}

.indicator {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.indicatorText {
    color: var(--text-color);
}

.currentValue {
    font-weight: bold;
    color: var(--highlight-color);
}

.maxValue {
    color: var(--highlight-color);
}

.icon {
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    color: var(--primary-color);
}

.progress {
    z-index: 0;
    position: absolute;
    top: -0.1em;
    left: -0.1em;
    bottom: -0.1em;
    right: -0.1em;
    border-radius: inherit;
    corner-shape: inherit;
    background: conic-gradient(
        var(--primary-highlight) calc(var(--fraction) * 100%), 
        transparent 0
    );

    &::before {
        content: "";
        position: absolute;
        border-radius: inherit;
        corner-shape: inherit;
        inset: 0.1em;
        background-color: var(--primary-background);
    }
}

.separator {
    opacity: 0.5;
}