*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    
    font-family: var(--main-font-family);
    overscroll-behavior: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

#root {
    isolation: isolate;
}

::selection {
  background-color: var(--primary-color);
}

:root {
    user-select: none;
    --background-color: oklch(0.3211 0 0);
    --text-color: oklch(0.7921 0 0);
    --highlight-color: oklch(1 0 0);
    --primary-color: oklch(0.5132 0.147 277.61);
    --primary-highlight: color-mix(in srgb, var(--primary-color) 60%, var(--highlight-color));
    --primary-dark: color-mix(in srgb, var(--primary-color) 40%, var(--background-color));
    --primary-background: color-mix(in srgb, var(--primary-color) 10%, var(--background-color));
    --main-font-family: 'Jura', sans-serif;

    background-color: var(--background-color);
    color: var(--text-color);
}
