*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    
    font-family: var(--main-font-family);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

#root {
    isolation: isolate;
}

::selection {
  background-color: var(--primary-color);
}

:root {
    user-select: none;
    --background-color: #333;
    --text-color: #bbc;
    --highlight-color: #fff;
    --primary-color: #555ab9;
    --main-font-family: 'Jura', sans-serif;

    background-color: var(--background-color);
    color: var(--text-color);
}
