*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    
    font-family: var(--main-font-family);
    overscroll-behavior: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

#root {
    isolation: isolate;
}

::selection {
  background-color: var(--primary-mid);
}

:root {
    user-select: none;
    --grey-darkest: oklch(0.322 0 0);
    --grey-dark: oklch(0.4 0 0);
    --grey-mid: oklch(0.7 0 0);
    --grey-light: oklch(0.82 0 0);
    --grey-lightest: oklch(1 0 0);
    
    --primary-darkest-muted: color-mix(in srgb, var(--primary-darkest) 50%, var(--grey-darkest));
    --primary-darkest: oklch(0.322 0.05 277);
    --primary-dark: oklch(0.4 0.13 277);
    --primary-mid: oklch(0.58 0.2 277);
    --primary-light: oklch(0.75 0.147 277);
    --primary-lightest: oklch(0.9 0.147 277);
   
    --danger-darkest: oklch(0.18 0.25 10);
    --danger-dark: oklch(0.3 0.25 10);
    --danger-mid: oklch(0.5 0.147 10);
    --danger-light: oklch(0.715 0.25 10);
    --danger-lightest: oklch(0.9 0.2 10);

    --good-darkest: oklch(0.25 0.25 148);
    --good-dark: oklch(0.34 0.25 148);
    --good-mid: oklch(0.53 0.22 148);
    --good-light: oklch(0.8 0.18 148);
    --good-lightest: oklch(0.9 0.12 148);

    --energy-darkest: oklch(0.30 0.0917 200);
    --energy-dark: oklch(0.345 0.25 200);
    --energy-mid: oklch(0.496 0.25 200);
    --energy-light: oklch(0.8 0.22 200);
    --energy-lightest: oklch(0.9 0.09 200);

    --lightest-contrast-dark: oklch(0 0 0);

    --main-font-family: 'Jura', sans-serif;
    background-color: var(--grey-darkest);
    color: var(--grey-mid);
}
