.button {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  border-radius: 3em;
  corner-shape: squircle;
  border: none;
  font-weight: 600;
  font-size: 1em;
  padding: 0.5em 1em;
  line-height: 1;
  font-family: var(--main-font-family);
  background-color: color-mix(in srgb, var(--primary-color) 80%, transparent);
  color: var(--highlight-color);
  transition: background-color 0.2s ease;
}

.button:hover:not(:disabled) {
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px inset;
}

.button:active, .button[aria-expanded="true"] {
  background-color: var(--primary-color);
}

.button:focus {
  outline: none;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 1px inset;
}

.button:disabled {
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: var(--text-color);
  cursor: not-allowed;
}

.label {
  flex-grow: 1;
  padding: 0 0.333em;
}

.hasStartIcon {
  padding-left: 0.667em;
}

.hasEndIcon {
  padding-right: 0.667em;
}

.icon {
  font-size: 1.25em;
  max-width: 1em;
  display: flex;
  justify-content: center;
}

.icon > svg {
  height: 1em;
  width: 1em;
}
