.button {
  display: inline-block;
  cursor: pointer;
  border-radius: 3em;
  border: none;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button--primary {
  background-color: #555ab9;
  color: white;
}

.button--secondary {
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: white;
}

.button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.button--large {
  padding: 12px 24px;
  font-size: 16px;
}
