.card {
  width: 11.2em;
  height: 16em;
  border: solid var(--text-color) 0.1em;
  padding: 0.667em;
  border-radius: 1.5em;
  corner-shape: squircle;
  transition: border-color 0.2s linear;
  background-color: oklch(from var(--primary-color) 0.3 0.03 h);
  position: relative;
}

.helm {
  --primary-color: oklch(0.656 0.147 155.43);
}

.tactical {
  --primary-color: oklch(0.656 0.147 90);
}

.sensors {
  --primary-color: oklch(0.6559 0.147 260.12);
}

.engineer {
  --primary-color: oklch(0.6559 0.147 292);
}
