.card {
  width: 11.2em;
  height: 16em;
  border: solid var(--grey-mid) 0.2em;
  padding: 0.667em;
  border-radius: 1.5em;
  corner-shape: squircle;
  transition: border-color 0.2s linear;
  background-color: var(--primary-darkest-muted);
  position: relative;
}
