.image {
  height: 7.5em;
  width: 7.5em;
}

.name {
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.card:hover {
  border-color: var(--highlight-color);
}

.card:hover .name {
  color: var(--highlight-color);
}

.description {
  font-size: 0.875em;
}

.cost {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--highlight-color);
  background-color: var(--primary-color);
  border-radius: 1em;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crew {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  color: var(--text-color);
  opacity: 0.5;
  color: var(--highlight-color);
}