.card {
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7.5em 2em 1fr;
  gap: 0.25em;
}

.image {
  background-color: var(--background-color);
  overflow: hidden;
  border: solid var(--background-color) 0.1em;
  outline: solid var(--text-color) 0.1em;
  corner-shape: bevel;
  corner-top-left-shape: scoop;
  border-radius: 1.6em 0.25em 0.25em 0.25em;
  flex-shrink: 0;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 0.2s ease-in-out;
  flex-shrink: 0;
  line-height: 1em;
}

.card:hover {
  border-color: var(--highlight-color);
}

.card:hover .name {
  color: var(--highlight-color);
}

.description {
  font-size: 0.825em;
  display: flex;
  flex-direction: column;
}

.cost {
  position: absolute;
  top: -0.3em;
  left: -0.31em;
  font-size: 2.75em;
  font-weight: bold;
  color: var(--highlight-color);
  background-color: var(--primary-color);
  border-radius: 1em;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid oklch(from var(--primary-color) 0.8 c h) 0.05em;
  font-family: monospace;
}
