.screen {
    width: 100vw;
    height: 100vh;
    padding: 1em;
    overflow: hidden;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padded {
    padding: 1em 3em;
}