.toggle {
  padding-right: 2.25em;
  position: relative;
}

.toggle::after {
  position: absolute;
  top: 0em;
  bottom: 0;
  right: 0.175em;
  font-size: 1.25em;
  display: flex;
  align-items: center;
}

.toggle.pressed::after {
  content: '✅';
}

.toggle:not(.pressed)::after {
  content: '☑️';
  opacity: 0.333;
}