.title {
    font-size: 3em;
}

.sections {
    display: flex;
    gap: 3em;
}

.section {
    flex: 1 1;
}

.sectionHeading {
    font-size: 1.75em;
}

.url {
    color: var(--grey-lightest);
}

.qrCodeContainer {
    position: relative;
    margin-top: 1em;
    width: 100%;
    height: 40em;
}

.qrCode {
    width: 100%;
    height: 100%;
}

.fullSize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20em;
}

.roleList {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.numUnassigned {
    color: var(--grey-lightest);
}

.footer {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}