.role {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    border-radius: 1em;
    corner-shape: squircle;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5em;
    gap: 1em;
}

.name {
    font-weight: bold;
    flex-grow: 1;
}

.state {
    text-transform: capitalize;
    margin-right: 1.75em;
}

.role::after {
  position: absolute;
  top: 0em;
  bottom: 0;
  right: 0.5em;
  display: flex;
  align-items: center;
}

.role.ready::after {
  content: '✅';
}

.role.occupied::after {
  content: '☑️';
  opacity: 0.333;
}

.role.occupied .state {
    color: var(--text-color);
}

.icon {
  font-size: 1.25em;
  max-width: 1em;
  display: flex;
  justify-content: center;
}

.icon > svg {
  height: 1em;
  width: 1em;
}
