.effect {
    position: relative;
    border-radius: 2em;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    corner-shape: round;
    border: solid 0.2em black;

    color: var(--color-light);
    border-color: var(--color-dark);
    transition: ease-in-out 0.3s transform;

    &:active, &[data-popup-open] {
        border-color: var(--color-dark); /* prevent info popup from overriding this */

        & .icon {
            color: var(--color-lightest);
        }
    }
}

.icon {
    z-index: 1;
    width: 1.5em;
    height: 1.5em;
}

.progress {
    z-index: 0;
}

.hidden {
    transform: scale(0);
}