.effect {
    position: relative;
    border-radius: 2em;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    corner-shape: round;
    border: solid 0.2em black;

    color: var(--color-light);
    border-color: var(--color-dark);
    transition: ease-in-out 0.3s transform;

    &:active, &[data-popup-open] {
        border-color: var(--color-dark); /* prevent info popup from overriding this */

        & .icon {
            color: var(--color-lightest);
        }
    }
}

.icon {
    z-index: 1;
    width: 1.5em;
    height: 1.5em;
}

.level {
    position: absolute;
    z-index: 2;
    bottom: -0.1em;
    right: -0.1em;
    font-size: 0.65em;
    font-weight: bold;
    line-height: 1;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: 50%;
    width: 1.4em;
    height: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    z-index: 0;
}

.hidden {
    transform: scale(0);
}