.system {
    border-radius: 1.5em;
    corner-shape: squircle;
    border: solid 0.1em var(--primary-color);
    background-color: color-mix(in srgb, var(--primary-color) 10%, var(--background-color));
    padding: 0.25em 0.5em 0.5em 0.5em;
    justify-self: stretch;
    align-self: stretch;
    height: var(--system-height);

    display: flex;
    flex-direction: column;

    gap: 1em;
    justify-items: center;
}

.name {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-self: flex-start;

    font-size: 1.75em;
    font-weight: bold;
    text-transform: capitalize;
}

.image {
    height: 1em;
    color: var(--primary-highlight);
}

.attributes {
    display: flex;
    justify-content: space-evenly;
}

.attribute {
    display: flex;
    align-items: baseline;
    flex-wrap: auto;
    gap: 0.25em;
}

.attributeValue {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--highlight-color);
}

.attributeIcon {
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    color: var(--primary-color);
    align-self: center;
}

.effects {
    flex-grow: 1;
}
