.system {
    position: relative;
    border-radius: 1.5em;
    corner-shape: squircle;
    border: solid 0.1em var(--primary-mid);
    background-color: var(--primary-darkest-muted);
    padding: 0.25em 0.5em 0.5em 0.5em;
    justify-self: stretch;
    align-self: stretch;
    height: var(--system-height);
    font-size: min(3vw, calc(var(--system-height) / 12));
    font-size: calc(var(--system-height) / 12);
    font-size: 3vw;

    display: flex;
    flex-direction: column;

    gap: 0em;
    justify-items: center;
}

@media (min-width: 400px) {
    .system {
        gap: 0.25em;
    }
}

@media (min-width: 600px) {
    .system {
        gap: 0.5em;
    }
}

@media (min-width: 800px) {
    .system {
        gap: 1em;
    }
}

.name {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-self: flex-start;

    font-size: 1.75em;
    font-weight: bold;
    text-transform: capitalize;
}

.image {
    height: 1em;
    color: var(--primary-light);
}

.attributes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    flex-basis: 1em;
}

.attribute {
    display: flex;
    align-items: baseline;
    flex-wrap: auto;
    gap: 0.25em;
    color: var(--grey-light);
}

.attributeValue {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--grey-lightest);
}

.attributeIcon {
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    color: var(--primary-light);
    align-self: center;
}

.effects {
    flex-grow: 1;
    flex-basis: 2em;
}

.generating {
    opacity: 0;
    display: none;
    transition: opacity 0.25s ease-in-out;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 2em;
    height: 2em;
}

.currentlyGenerating {
    opacity: 1;
    display: block;
    color: var(--energy-lightest);
}