.system {
    border-radius: 1.5em;
    corner-shape: squircle;
    border: solid 0.1em var(--primary-color);
    background-color: color-mix(in srgb, var(--primary-color) 10%, var(--background-color));
    padding: 0.25em 0.5em 0.5em 0.5em;
    justify-self: stretch;
    align-self: stretch;
    height: var(--system-height);
    font-size: min(3vw, calc(var(--system-height) / 12));
    font-size: calc(var(--system-height) / 12);
    font-size: 3vw;

    display: flex;
    flex-direction: column;

    gap: 0em;
    justify-items: center;
}

@media (min-width: 400px) {
    .system {
        gap: 0.25em;
    }
}

@media (min-width: 600px) {
    .system {
        gap: 0.5em;
    }
}

@media (min-width: 800px) {
    .system {
        gap: 1em;
    }
}

.name {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-self: flex-start;

    font-size: 1.75em;
    font-weight: bold;
    text-transform: capitalize;
}

.image {
    height: 1em;
    color: var(--primary-highlight);
}

.attributes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    flex-basis: 1em;
}

.attribute {
    display: flex;
    align-items: baseline;
    flex-wrap: auto;
    gap: 0.25em;
}

.attributeValue {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--highlight-color);
}

.attributeIcon {
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    color: var(--primary-color);
    align-self: center;
}

.effects {
    flex-grow: 1;
    flex-basis: 2em;
}
