.list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em 0.5em 0.5em 0.5em;

    height: calc(100dvh - 17em);
    --system-height: calc((100dvh - 20em) / 3);
}

.itemWrapper {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
}

.itemWrapper > * {
    flex-grow: 1;
}